@model List<ImpressoraExpressMVC.Models.MovimentacaoViewModel>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Ultimas Vendas</h2>
    <div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Cartucho</th>
                <th>Impressora</th>
                <th>Quantidade de Cartucho</th>
                <th>Data de Venda</th>
                <th>Valor da Venda</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Cliente.Nome.ToString()</td>
                    <td>@item.Cartucho.NomeModelo.Substring(0, 20)</td>
                    <td>@item.Impressora.Modelo.Substring(0, 20)</td>
                    <td>@item.QuantidadeCartucho</td>
                    <td>@item.DataVenda.Date.ToString("dd/MM/yyyy")</td>
                    <td>@item.ValorTotalOrcamento.ToString("C2")</td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
