
@{
    ViewData["Title"] = "Cadastrar";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>Impressora Express</title>
    <link rel="Sidebar.css" href="css." />

</head>
<body>
    <div>
        <form method="post">
            <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="btn"></i>
                <i class="fas fa-times" id="cancel"></i>
                <i class="fas fa-bars" id="btn"></i>
            </label>
            <div class="sidebar">
                <header>Express</header>
                <ul>
                    <li><a href="/Cliente/Cadastrar"><i class="fas fa-user"></i>Cliente</a></li>
                    <li><a href="/Cartucho/Cadastrar"><i class="fas fa-broom"></i>Cartuchos</a></li>
                    <li><a href="/Impressora/Cadastrar"><i class="fas fa-archive"></i>Impressoras</a></li>
                    <li><a href="/Movimentacao/Controlar"><i class="fas fa-shopping-cart"></i>Locações</a></li>
                    <li><a href="#"><i class="fas fa-phone"></i>Contato</a></li>
                </ul>
            </div>
            <section></section>
        </form>
    </div>
</body>
</html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar Usuário</title>
</head>
<body>
    @{
        List<Common.Error> errors = new List<Common.Error>();
        if (ViewBag.Errors != null)
        {
            errors = ViewBag.Errors;
        }
    }
    <div>
        <form method="post">
            <div class="form-group">
                <label class="control-label col-md-2">Nome</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="Nome" id="Nome" />
                    <span class="text-danger" id="erroNome" name="erroNome">
                        @{
                            Common.Error erro = errors.FirstOrDefault(c => c.FieldName == "Nome");
                            if (erro != null)
                            {
                                <text>@erro.Message</text>
                            }
                        }
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">CPF</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="CPF" id="CPF" />
                    <span class="text-danger" id="erroCPF" name="erroCPF">
                        @{
                            erro = errors.FirstOrDefault(c => c.FieldName == "CPF");
                            if (erro != null)
                            {
                                <text>@erro.Message</text>
                            }
                        }
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="Email" id="Email" />
                    <span class="text-danger" id="erroEmail" name="erroEmail">
                        @{
                            erro = errors.FirstOrDefault(c => c.FieldName == "Email");
                            if (erro != null)
                            {
                                <text>@erro.Message</text>
                            }
                        }
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Senha</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="Senha" id="Senha" />
                    <span class="text-danger" id="erroSenha" name="erroSenha">
                        @{
                            erro = errors.FirstOrDefault(c => c.FieldName == "Senha");
                            if (erro != null)
                            {
                                <text>@erro.Message</text>
                            }
                        }
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Confirmar Senha</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="ConfirmarSenha" id="ConfirmarSenha" />
                    <span class="text-danger" id="erroConfirmarSenha" name="erroConfirmarSenha">
                        @{
                            erro = errors.FirstOrDefault(c => c.FieldName == "ConfirmarSenha");
                            if (erro != null)
                            {
                                <text>@erro.Message</text>
                            }
                        }
                    </span>
                </div>
            </div>

            @{
                string[] permissao = Enum.GetNames(typeof(DTO.Enum.Permissao));
            }
            <div class="form-group">
                <label class="control-label col-md-2">Permissões</label>
                <div class="col-md-10">
                    <select class="form-control" name="Permissao" id="Permissao">
                        @for (int i = 0; i < permissao.Length; i++)
                        {
                            <option value="@i">@permissao[i]</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input name="BotaoEnviar" id="BotaoEnviar" type="submit" value="Cadastrar" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>

@section scripts{

    <script type="text/javascript">

        //Este evento será disparado quando todo o DOM (Document Object Model) for carregado.
        $(document).ready(function () {

            var cpfMask = $("#CPF");
            cpfMask.mask('000.000.000-00', { reverse: false });

            $("#BotaoEnviar").click(function (e) {

                var nome = $("#Nome").val();
                var cpf = $("#CPF").val();
                var email = $("#Email").val();
                var senha = $("#Senha").val();
                var confirmarSenha = $("#ConfirmarSenha").val();
                var permissao = $("#Permissao").val();


                var sucesso = true;

                if (nome == "") {
                    $("#erroNome").html("Nome deve ser informado.");
                    sucesso = false;
                }
                else if (nome.length < 5 || nome.length > 40) {
                    $("#erroNome").html("Nome deve conter entre 5 e 40 caracteres.");
                    sucesso = false;
                }
                else {
                    $("#erroNome").html("");
                }

                if (cpf == "") {
                    $("#erroCPF").html("CPF deve ser informado.");
                    sucesso = false;
                }
                else if (cpf.length != 14) {
                    $("#erroCPF").html("CPF deve conter 14 caracteres.");
                    sucesso = false;
                }
                else {
                    $("#erroCPF").html("");
                }

                if (email == "") {
                    $("#erroEmail").html("O email deve ser informado.");
                    sucesso = false;
                }
                else if (!validateEmail(email)) {
                    $("#erroEmail").html("Email inválido.");
                    sucesso = false;
                }
                else {
                    $("#erroEmail").html("");
                }


                if (senha == "") {
                    $("#erroSenha").html("A senha deve ser informada.");
                    sucesso = false;
                }
                else if (senha.length < 6 || senha.length > 16) {
                    $("#erroSenha").html("Senha deve conter entre 6 e 16 caracteres");
                    sucesso = false;
                }
                else {
                    $("#erroSenha").html("");
                }

                if (confirmarSenha == "") {
                    $("#erroConfirmarSenha").html("A senha deve ser informada novamente.");
                    sucesso = false;
                }
                if (confirmarSenha != senha) {
                    $("#erroConfirmarSenha").html("Senha errada, informe novamente certo.");
                    sucesso = false;
                }
                else {
                    $("#erroConfirmarSenha").html("");
                }

                if (!sucesso) {
                    e.preventDefault();
                }


            });

        });
    </script>

}
